@import "tailwindcss";

body{
    margin: 0;
    padding: 0;
    background-color: #1a1a2e;
    /*#1a1a2e   #16213e #0f3460 #e94560*/
}

h1, h2, h3 {
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h4, h5, h6 {
    font-family: "Rowdies", sans-serif;
    font-weight: 500;
    font-style: normal;
}

p {
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.text-light {
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.text-regular {
    font-family: "Rowdies", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.text-bold {
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.arcoiris {
    font-size: 60px;
    font-weight: bold;
    background: linear-gradient(to right, red, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.arcoiris-bg {
    background: linear-gradient(to top, red, orange);
}
