@import "tailwindcss";

body{
    margin: 0;
    padding: 0;
    /* background-color: #1a1a2e; */
    background: #020024;
    background: linear-gradient(90deg,#050414 0%, #292929 100%); 
    /*#1a1a2e   #16213e #0f3460 #e94560*/
}

h1, h2, h3 {
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h4, h5, h6 {
    font-family: "Rowdies", sans-serif;
    font-weight: 500;
    font-style: normal;
}

p {
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.text-light {
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.text-regular {
    font-family: "Rowdies", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.text-bold {
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.arcoiris {
    font-weight: bold;
    background: linear-gradient(to right, red, orange);
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.arcoiris-bg {
    background: linear-gradient(to top, red, orange);
}

@layer utilities {
    .scrollbar-hidden {
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE and Edge */
    }
    .scrollbar-hidden::-webkit-scrollbar {
      display: none; /* Chrome, Safari */
    }
}

.gradient-image-left{
    mask-image: linear-gradient(
        to left,
        black 5%,
        transparent 
    );
}






.carousel-infinite {
    overflow: hidden;
    display: flex;
    > * {
        flex: 0 0 100%;
    }
    &:hover .group-carousel-infinite {
        animation-play-state: paused;
    }
}

.card-ci {
    width: 100%;
    color: white;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
    justify-content: center;
    align-items: center;
}


.group-carousel-infinite {
    display: flex;
    gap: 20px;
    /* Add padding to the right to create a gap between the last and first card. */
    padding-right: 20px;
    will-change: transform; /* We should be nice to the browser - let it know what we're going to animate. */
    animation: scrolling 10s linear infinite;
}

@keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}