---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

const pageTitle = "About Me";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout pageTitle={pageTitle}>
    <!-- transition:name="slide" transition:animate="slide" -->
    <div class=" fixed top-10 right-40 w-40" >
        <h1 transition:name="elabout" class="rowdies-light text-white">{pageTitle}</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum, labore pariatur! Impedit minus aspernatur in magnam eaque. Natus, obcaecati, suscipit assumenda id, eaque laboriosam repudiandae rem ipsa itaque provident delectus.</p>
    </div>
    <div>
        <p class=" text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, dicta molestiae perspiciatis ipsum vero sint vel reiciendis deserunt reprehenderit, provident facere recusandae! Voluptatibus sed voluptatem vero suscipit sit fugit neque.
        </p>
    </div>
</Layout>
