---
import GeneralContainerLayout from "../layouts/GeneralContainerLayout.astro";
import Layout from "../layouts/Layout.astro";


---



<Layout pageTitle=`Contact - Nix Ramos Dev`>
    <GeneralContainerLayout>
        <p>contact</p>
    </GeneralContainerLayout>
</Layout>