---
import NavigationBar from '../components/NavigationBar/NavigationBar.astro';
import Welcome from '../components/Welcome.astro';
import GeneralContainerLayout from '../layouts/GeneralContainerLayout.astro';
import Layout from '../layouts/Layout.astro';

pageTitle: "Hola futuro cliente"

---

<Layout>
    <NavigationBar/>
    <GeneralContainerLayout>
        <div class="flex h-[90vh] col-span-12 p-2">
            <div class="m-auto">
                <div class="col-span-12 h-80">
                    <span class="text-bold text-5xl text-white">
                        Hi
                    </span>
                    <h2 class="text-bold col-span-4 text-7xl text-white">
                        I&#39;m 
                    </h2>
                    <h2 class="text-bold col-span-4 text-7xl text-white">
                        Nixon Ramos
                    </h2>
                    <h6 class="text-bold col-span-4 text-4xl text-white">
                        Let me help you build your ideas with <span class="arcoiris">code</spa>!
                    </h6>
                </div>
                <div class=" grid col-span-12  md:col-span-6">
                </div>
            </div>
        </div>
        <!-- <a href="/about" class=" fixed bottom-40">
            <h3 class="text-bold col-span-4 text-4xl text-white uppercase" transition:name="elabout" transition:animate="fade" >vamonos al about</h3>
        </a> -->
        
    </GeneralContainerLayout>
</Layout>
