---
import GeneralContainerLayout from "../layouts/GeneralContainerLayout.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout pageTitle=`Resume - Nix Ramos Dev`>
    <GeneralContainerLayout>
        <p>resume</p>
    </GeneralContainerLayou>
</Layout>