---
import ReturnHome from "../components/NavigationBar/ReturnHome.astro";
import GeneralContainerLayout from "../layouts/GeneralContainerLayout.astro";
import Layout from "../layouts/Layout.astro";

const pageTitle = "Services";
---

<Layout pageTitle={pageTitle}>
    <GeneralContainerLayout>
        <div class="col-span-3 hidden md:block"></div>
        <div class="col-span-12 md:col-span-6 text-center">
            <h1 transition:name={pageTitle} 
            class="text-bold text-4xl md:text-6xl text-white">{pageTitle}</h1>
        </div>
        <div class="col-span-3 hidden md:block"></div>

        <div class="col-span-12 grid grid-cols-12 h-[75vh] p-2 border-2 border-white overflow-auto scrollbar-hidden">
            {
                [0,1,2,3,4,5].map(item=>
                <div class="col-span-12 grid gap-5">
                    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nostrum quod fuga, cumque minus et recusandae aliquam, atque enim facere delectus aliquid, alias pariatur harum ipsa quae in veritatis? Neque!</p>
                    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nostrum quod fuga, cumque minus et recusandae aliquam, atque enim facere delectus aliquid, alias pariatur harum ipsa quae in veritatis? Neque!</p>
                </div>
                )
            }
            
        </div>

        <ReturnHome/>
    </GeneralContainerLayou>
</Layou>