---
const { name, path } = Astro.props;
---

<a href={path} class="item-navigation h-full w-full">
    <div class="p-2 h-full text-center content-center hover:cursor-pointer">
        <div class="span-name h-auto w-auto">
            <h2>
                <!-- 1a1a2e -->
                <span class="span-name text-[#fff] font-extrabold uppercase">{name}</span>
            </h2>
        </div>
    </div>
</a>

<style>
    .item-navigation:hover .span-name {
        transition: transform 0.2s ease-out;
        transform: translateY(-5px);
    }
    .span-name {
        transition: transform 0.5s ease-out;
        transform: translateY(0);
    }
</style>