---
const { name, path } = Astro.props;
---

<div class="p-2 h-full text-center content-center hover:cursor-pointer">
    <a href={path} class="h-full w-full">
        <div class="h-auto w-auto bg-amber-200">
            <h2>
                <span>{name}</span>
            </h2>
        </div>
    </a>
</div>