---

---

<div class=`w-11/12 md:w-auto md:h-12 px-4 transition-all
    fixed bottom-5 left-1/2 -translate-x-1/2 grid rounded-3xl
    bg-transparent hover:border-2 hover:border-[#fff]
    hover:cursor-pointer gap-2 justify-center `>

    <a href={"/"} class="item-navigation h-full w-full" transition:name={"Home"}  transition:animate="fade">
        <div class="p-2 h-full text-center content-center hover:cursor-pointer">
            <div class="span-name h-auto ">
                <h2>
                    <!-- 1a1a2e -->
                    
                    <span class="span-name text-[#fff] font-extrabold uppercase"
                    >{"Go Home"}</span>
                </h2>
            </div>
        </div>
    </a>
</div>